{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome</title>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" />
  </head>
  <body>
    <h1>
      <img src="{% static 'logo.png' %}" alt="logo" />
      Welcome to Django!
    </h1>
    <p id="visit-count">
      Number of visits: <span>{{number_of_visits}} time{{number_of_visits|pluralize}}</span>
    </p>
    <p>
      Your IP address is: <span>{{ip_address}}</span>
  </body>
</html>
